body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.buttonStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111a21;
  position: absolute;
  bottom: 2%;
  right: 2%;
  height: 4rem;
  width: 15rem;
  color: white;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.buttonStyle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111a21;
  position: absolute;
  bottom: 2%;
  right: 15%;
  height: 4rem;
  width: 15rem;
  color: white;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
