body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.buttonStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111a21;
  position: absolute;
  bottom: 2%;
  right: 2%;
  height: 2rem;
  width: 10rem;
  color: white;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 1rem;
}
.buttonStyle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111a21;
  position: absolute;
  bottom: 2%;
  right: 15%;
  height: 2rem;
  width: 10rem;
  color: white;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 1rem;
}
.gloButton {
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: end;
  display: flex;
  z-index: 2;
}
.gloTitre {
  position: absolute;
  top: 50%;
  left: 50%;
}
.titrePart1 {
  font-size: 5rem;
  background-color: #f2f6fa5e;
  color: #111a21;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.titrePart2 {
  font-size: 5rem;
  color: #f3f7fa;
  background-color: #111a21;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.invisButton {
  color: transparent;
  background-color: transparent;
  border: 0;
}

@media screen and (max-width: 980px) {
  .buttonStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111a21;
    position: absolute;
    bottom: 2%;
    right: 2%;
    height: 1.5rem;
    width: 5rem;
    color: white;
    border-radius: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7rem;
  }
  .buttonStyle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111a21;
    position: absolute;
    bottom: 2%;
    right: 20%;
    height: 1.5rem;
    width: 5rem;
    color: white;
    border-radius: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7rem;
  }
}
